<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="img/logo/Camera-N-logos/Camera-N-logos.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="lib/bootstrap-5.1.1-dist/bootstrap-5.1.1-dist/css/bootstrap.css">
    <script src="lib/bootstrap-5.1.1-dist/bootstrap-5.1.1-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.0/css/font-awesome.css" integrity="sha512-72McA95q/YhjwmWFMGe8RI3aZIMCTJWPBbV8iQY3jy1z9+bi6+jHnERuNrDPo/WGYEzzNs4WdHNyyEr/yXJ9pA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
            <div class="header_row1">
                <ul>
                    <li>
                        <a href="#">Log in</a>
                    </li>
                    <li>
                        <a href="#">Create an account</a>
                    </li>
                    <li>
                        <a href="#">Cheack out</a>
                    </li>
                </ul>
                <p>Chào mừng đến shop của chúng tôi</p>
            </div>
            <div class="header_row2">
                <img src="img/logo/Camera-N-logos/Camera-N-logos_black.png" alt="">
                <div class="head_row2_right">
                    <div class="search"><input type="text" placeholder="Tìm kiếm"></div>
                </div>
            </div>
        
    </header>
    <nav id="nav">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Product</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>
    <div class="show_case">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="img/banner/banner1.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="img/banner/banner2.jpg" class="d-block w-100" alt="...">
                  </div>
                  
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        
    </div>
    <div class="main">

        <div class="main_prod">
            <h2>Sản Phẩm Tiêu Biểu</h2>
            <div class="list_prod">
                <div class="prod">
                    <img src="img/product/anh.png" alt="">
                    <div class="detail_prod">
                        <h3>PowerShot G5 X Mark II</h3>
                        <p>Giá: 24000000</p>
                    </div>
                </div>

                <div class="prod">
                    <img src="img/product/anh.png" alt="">
                    <div class="detail_prod">
                        <h3>PowerShot G5 X Mark II</h3>
                        <p>Giá: 24000000</p>
                    </div>
                </div>

                <div class="prod">
                    <img src="img/product/anh.png" alt="">
                    <div class="detail_prod">
                        <h3>PowerShot G5 X Mark II</h3>
                        <p>Giá: 24000000</p>
                    </div>
                </div>

                <div class="prod">
                    <img src="img/product/anh.png" alt="">
                    <div class="detail_prod">
                        <h3>PowerShot G5 X Mark II</h3>
                        <p>Giá: 24000000</p>
                    </div>
                </div>

                <div class="prod">
                    <img src="img/product/anh.png" alt="">
                    <div class="detail_prod">
                        <h3>PowerShot G5 X Mark II</h3>
                        <p>Giá: 24000000</p>
                    </div>
                </div>

                <div class="prod">
                    <img src="img/product/anh.png" alt="">
                    <div class="detail_prod">
                        <h3>PowerShot G5 X Mark II</h3>
                        <p>Giá: 24000000</p>
                    </div>
                </div>

                <div class="prod">
                    <img src="img/product/anh.png" alt="">
                    <div class="detail_prod">
                        <h3>PowerShot G5 X Mark II</h3>
                        <p>Giá: 24000000</p>
                    </div>
                </div>
                <div class="prod">
                    <img src="img/product/anh.png" alt="">
                    <div class="detail_prod">
                        <h3>PowerShot G5 X Mark II</h3>
                        <p>Giá: 24000000</p>
                    </div>
                </div>
        
            </div>
            <h2>Bài viết mới nhất</h2>

            <div class="list_news">
                <div class="news">
                    <img src="img/product/anh.png" alt="">
                    <div class="detail_news">
                        <h3>[Rò rỉ] Ống kính Sigma 18-50mm f/2.8 DC CN Contemporary Dự kiến Sẽ nghggđhdhduhgh</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A blanditiis odit porro!
                             Harum quae natus laboriosam? Deserunt quasi et consequatur
                             exercitationem molestiae in porro dolores doloremque eum! Facere, quis natus.</p>
                    </div>
                </div>

                <div class="news">
                    <img src="img/product/anh.png" alt="">
                    <div class="detail_news">
                        <h3>[Rò rỉ] Ống kính Sigma 18-50mm f/2.8 DC CN Contemporary Dự kiến Sẽ nghggđhdhduhgh</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A blanditiis odit porro!
                             Harum quae natus laboriosam? Deserunt quasi et consequatur
                             exercitationem molestiae in porro dolores doloremque eum! Facere, quis natus.</p>
                    </div>
                </div>
                <div class="news">
                    <img src="img/product/anh.png" alt="">
                    <div class="detail_news">
                        <h3>[Rò rỉ] Ống kính Sigma 18-50mm f/2.8 DC CN Contemporary Dự kiến Sẽ nghggđhdhduhgh</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A blanditiis odit porro!
                             Harum quae natus laboriosam? Deserunt quasi et consequatur
                             exercitationem molestiae in porro dolores doloremque eum! Facere, quis natus.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slogan">
            <i class="fa fa-truck" aria-hidden="true"></i>

            <div class="sg-right">
                <h3>Miễn Phí Vận Chuyển Trên Mọi Đơn Hàng</h3>
                <span>hoặc hoàn trả trong 1 giờ</span>
            </div>
        </div>
    </div>
    <button id="roll_to_top">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </button>

    <footer>
        <div class="footer_container">
            <div class="list">
                <h3>Information</h3>
                <ul>
                    <li> <a href="#">Home</a> </li>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="list">
                <h3>Product</h3>
                <ul>
                    <li> <a href="#">Canon</a> </li>
                    <li><a href="#">Sony</a></li>
                    <li><a href="#">Nikon</a></li>
                    <li><a href="#">Olympus</a></li>
                </ul>
            </div>
            <div class="list">
                <h3>Social Media</h3>
                <ul>
                    <li>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <a href="#">Twitter</a> </li>
                    <li>  
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>                      
                        <a href="#">Facebook</a></li>
                    <li>
                        <i class="fa fa-github" aria-hidden="true"></i>
                        <a href="#">Git Hub</a></li>
                </ul>
            </div>
            
            <div class="list">
                <h3>Contact</h3>
                <ul>
                    <li> <a href="#">Twitter</a> </li>
                    <li><a href="#">Facebook</a></li>
                </ul>
            </div>
            
        </div>
    </footer>

    <div class="copyright">
        <p>&copy; 2021 Copyright. Design by Nghi Nguyễn</p>
    </div>
    <script src="js/index.js"></script>
</body>
</html>